{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/first.css'%} >
<body bgcolor="pink">
<h1>hello frds</h1>
<img src="{% static 'img/345.png'%}"width=400 height=300>
<script src="{% static 'js/script.js' %}">
</script>
<body>
<p>First Number: <input id="txtFirstNumber"></p>
<p>Second Number: <input id="txtSecondNumber"></p>
<button onclick="add()">Add</button>
<button onclick="sub()">Subtract</button>
<p>ANS=<input id="txtAnswer"></p>
</body>
</head>
</html>
